<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <form class="" [formGroup]="matchForm" (ngSubmit)="uploadMatch()">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 dark:bg-gray-600 dark:bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 sm:items-center sm:p-0">
        <div
          class="relative transform overflow-hidden rounded-lg bg-white dark:bg-gray-800 shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="mt-3 sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-xl font-medium leading-6 text-gray-900 dark:text-gray-100" id="modal-title">
                {{match==null?'Create':'Update'}} match</h3>
              <div class="mt-2 mb-5">
                <p *ngIf="match==null" class="text-md text-gray-200">
                  {{match==null?
                  'Ready to play a new match?':
                  'Match will be edited when you click on the "Save"button.'}}
                </p>
                <errors-footmatch [containError]="containError" [messageError]="messageError?messageError:'Unknown error'"></errors-footmatch>
              </div>

              <div>

                <!-- opponent -->
                <div class="mt-2 mb-3">
                  <label for="opponent"
                    class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-2">Opponent</label>
                  <input id="opponent"
                    class="{{inputClass(matchForm, 'opponent')}} block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-2 px-3 bg-gray-100 dark:bg-gray-700 dark:text-gray-200"
                    type="text" formControlName="opponent" maxlength="50" minlength="2" />
                  <!-- <div class="invalid-feedback" *ngIf="matchForm.get('opponent')?.touched 
                                    && matchForm.get('opponent')?.invalid">
                      <div *ngIf="matchForm.get('opponent')?.errors?.required">
                        Cannot be empty
                      </div>
                      <div *ngIf="matchForm.get('opponent')?.errors?.minlength">
                        Must containt at least 2 characters
                      </div>
                      <div *ngIf="matchForm.get('opponent')?.errors?.maxlength">
                        Only 50 characters are allowed
                      </div>
                    </div> -->
                </div>

                <!-- is_local -->
                <div class="mt-2 mb-3">
                  <label for="is_local" class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-2">Is
                    local</label>
                  <input id="is_local"
                    class="{{inputClass(matchForm, 'is_local')}} h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500 bg-gray-100 dark:bg-gray-700"
                    type="checkbox" formControlName="is_local" />
                </div>

                <!-- alignment -->
                <div class="mt-2 mb-3">
                  <label for="alignment"
                    class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-2">Alignment</label>
                  <input id="alignment"
                    class="{{inputClass(matchForm, 'alignment')}} block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-2 px-3 bg-gray-100 dark:bg-gray-700 dark:text-gray-200"
                    type="text" formControlName="alignment" maxlength="50" minlength="2" />
                </div>

                <!-- url -->
                <div class="mt-2 mb-3">
                  <label for="url" class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-2">Url</label>
                  <input id="url"
                    class="{{inputClass(matchForm, 'url')}} block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-2 px-3 bg-gray-100 dark:bg-gray-700 dark:text-gray-200"
                    type="text" formControlName="url" maxlength="50" minlength="2" />
                </div>

                <!-- city -->
                <div class="mt-2 mb-3">
                  <label for="city" class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-2">City</label>
                  <input id="city"
                    class="{{inputClass(matchForm, 'city')}} block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-2 px-3 bg-gray-100 dark:bg-gray-700 dark:text-gray-200"
                    type="text" formControlName="city" maxlength="50" minlength="2" />
                </div>

                <!-- start_date -->
                <div class="mt-2 mb-3">
                  <label for="start_date" class="block text-md font-medium text-gray-700 dark:text-gray-300 mb-2">Start
                    date</label>
                  <input
                    class="{{inputClass(matchForm, 'start_date')}}  block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm py-2 px-3 bg-gray-100 dark:bg-gray-700 dark:text-gray-200"
                    type="datetime-local" name="start_date" formControlName="start_date" placeholder=""
                    max="{{actualDate}}" />
                </div>
              </div>

            </div>

          </div>

          <!-- BUTTONS -->
          <div class="bg-gray-50 dark:bg-gray-900 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">

            <!-- CREATE / EDIT BUTTON -->
            <button (click)="uploadMatch()" type="button"
              class="inline-flex w-full justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">{{match==null?'Create':'Save'}}</button>

            <!-- DELETE BUTTON -->
            <button (click)="deleteMatch()" *ngIf="match!=null" type="button"
              class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">Delete</button>

            <!-- CLOSE MODAL -->
            <button (click)="closeModal()" type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">Close</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>