<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 dark:bg-gray-600 dark:bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 sm:items-center sm:p-0">
        <div
          class="relative transform overflow-hidden rounded-lg bg-white dark:bg-gray-800 shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="mt-3 sm:mt-0 sm:ml-4 sm:text-center">
              <h3 class="text-xl font-medium leading-6 text-gray-900 dark:text-gray-100" id="modal-title">
                Create status for match: {{url}}</h3>
              <div class="mt-2 mb-5">
                <p class="text-md text-gray-200">
                  Status will be edited when you click on the "Save" button.
                </p>
                <errors-footmatch [containError]="containError"
                  [messageError]="messageError?messageError:'Unknown error'"></errors-footmatch>
              </div>

              <!-- PREVIOUS CONTENT -->
              <div>
                <div class="form-group my-4">
                  <label style="color: aliceblue;">Select event </label>
                  <select formControlName="status_type" class="form-control">
                    <option *ngFor="let option of statusOptions" [value]="option.value">{{option.label}}</option>
                  </select>
                </div>
                <div class="form-group my-4">
                  <label style="color: aliceblue;">Scoreboard </label>
                  <input class="form-control" type="text" formControlName="scoreboard" name="scoreboard">
                </div>
                <div class="form-group my-4">
                  <label style="color: aliceblue;">Info </label>
                  <input class="form-control" type="text" formControlName="info" name="info">
                </div>
              </div>

            </div>

          </div>

          <!-- BUTTONS -->
          <div class="bg-gray-50 dark:bg-gray-900 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">

            <!-- CREATE / EDIT BUTTON -->
            <button (click)="onSubmit()" type="button"
              class="inline-flex w-full justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">Create</button>

            <!-- CLOSE MODAL -->
            <button (click)="closeModal()" type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">Close</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>