<div class="form-container">
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label>Select event</label>
        <select class="form-control" [(ngModel)]="my_matchStatus" name="status_type">
            <option value='STA'>Start</option>
            <option value='BRE'>Break</option>
            <option value='RES'>Resumption</option>
            <option value='GOA'>Goal</option>
            <option value='END'>End</option>
            <option value='OTH'>Other</option>
        </select>
      </div>
      <div class="form-group">
        <label>Time</label>
        <input class="form-control" type="date" [(ngModel)]="my_matchStatus" name="time">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary bg-green-700 p-2 hover:bg-green-500 text-white rounded-full items-end ml-auto">Submit</button>
      </div>
    </form>
</div>


<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* para ocupar toda la altura de la pantalla */
      }

      .dark-theme {
        background-color: #333333;
        color: #f2f2f2;
      }
</style>