<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 items-center justify-center h-screen">

  <!-- TEAM -->
  <div>
    <a class="flex items-center">
      <img src="https://cdn-icons-png.flaticon.com/512/53/53283.png" class="h-10 mr-4 sm:h-9" alt="Landwind Logo" />
      <span class="text-lg font-bold text-Black-600">Equipo &nbsp;</span>
    </a>
    <div class="text-sm font-bold text-Black-600">
      Name: Real Madrid
    </div>
    <div class="text-sm font-bold text-Black-600">Description:</div>
    <div class="text-sm font-bold text-Black-600">El real madrid es un equipo campeón de 14 copas de europa</div>
    <div class="text-sm font-bold text-Black-600">Long : 234982893284 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lat : 8394834893
    </div>
    <div class="text-sm font-bold text-Black-600">Notifications: Yes</div>

  </div>

  <!-- PLAYERS -->
  <div>

    <a class="flex items-center">
      <img src="https://cdn-icons-png.flaticon.com/512/1040/1040005.png" class="h-10 mr-4 sm:h-9" />
      <span class="text-lg font-bold text-Black-600">Jugadores &nbsp;</span>
    </a>
    <div>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">Falete (Portero) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">Shakira (Defensa) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">El risitas (Centrocampista) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">Perro Sanxe (Delantero) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">Chiquito (Entrenador) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
    </div>
  </div>

  <!-- MATCHES -->
  <div class="mx-5">
    <my-matches></my-matches>
  </div>


</div>