<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 items-center justify-center h-screen">

  <!-- TEAM -->
  <div >
    <a class="flex items-center">
      <img src="https://cdn-icons-png.flaticon.com/512/53/53283.png" class="h-10 mr-4 sm:h-9" alt="Landwind Logo" />
      <span class="text-lg font-bold text-Black-600">Equipo &nbsp;</span>
    </a>
    <div *ngIf="!userHasTeam" class="bot">
    <div class="bot">No tienes equipos</div>
    <br>
      <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" href="./create-team">
        Crear Equipo
      </a>
    </div>
  <div>
    <a class="mov my-auto items-center dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" href="./profile">{{getTeam().name}}</a>
    <br>
    <a class="mov my-auto items-center dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" href="./profile">{{getTeam().stadium_name}}</a>
    <br>
    <a class="mov my-auto items-center dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700" href="./profile">{{getTeam().address}}</a>
    <br>
    <br>
   <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" href="./create-team">
      Editar equipo
    </a>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      Eliminar equipo
    </button>
    
  </div>
  </div>

  <!-- PLAYERS -->
  <div>

    <a class="flex items-center">
      <img src="https://cdn-icons-png.flaticon.com/512/1040/1040005.png" class="h-10 mr-4 sm:h-9" />
      <span class="text-lg font-bold text-Black-600">Jugadores &nbsp;</span>
    </a>
    <div>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">Falete (Portero) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">Shakira (Defensa) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">El risitas (Centrocampista) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">Perro Sanxe (Delantero) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
      <a class="flex items-center">
        <span class="text-sm font-bold text-Black-600">Chiquito (Entrenador) &nbsp;</span>
        <img src="https://cdn-icons-png.flaticon.com/512/542/542724.png" class="h-10 mr-4 sm:h-6" />
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png" class="h-10 mr-4 sm:h-6" />
      </a>
    </div>
  </div>

  <!-- MATCHES -->
  <div class="mx-5">
    <my-matches></my-matches>
  </div>


</div>

<style>
.bot {
  margin-top: 3%;
}
</style>